.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contacts h2 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
  margin: 0;
  margin-top: 15px;
}
.contacts p {
  margin-left: auto;
  margin-right: auto;
}

.contacts input {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  outline: none;
  border: none;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
